p {
    font-size: 14px;
}
div {
    font-size: 14px;
}
// input{
//     width: 100%;
//     max-width: 400px;
//     height: 40px;
//     border: 1px solid rgb(80, 93, 110) !important;
//     border-radius: 4px  !important;
//     padding: 8px 16px;
//     &:focus{
//         // border: 1px solid rgb(2, 90, 173);
//         // outline: 1px solid rgb(2, 90, 173);
//         outline: none !important;
//         border: 1px solid rgb(2, 90, 173) !important;

//     }
// }
.v-main__wrap {
    background-color: #e5e5e5;
}
.m-48p {
    margin: 48px;
}
.ml-48p {
    margin-left: 48px;
}
.mr-48p {
    margin-right: 48px;
}
.mt-48p {
    margin-top: 48px;
}
.mb-48p {
    margin-bottom: 48px;
}
.row {
    margin: 0  !important;
}
.mw-400p{
    max-width: 400px !important;
}


// size
.fs14p{
    font-size: 14px;
}
.fs16p{
    font-size: 16px;
}
.fs18p{
    font-size: 18px;
}
.fs20p{
    font-size: 20px;
}
.fs22p{
    font-size: 22px;
}
.fs24p{
    font-size: 24px;
}